@*
    
*@
@{
}
<!-- Adicione o formulário de validação de CPF -->
<form id="cpf-form">
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf" />
    <button type="submit">Validar</button>
    <span id="cpf-error"></span>
</form>