@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p style="color: white;">Todos os direitos reservados a casa do forte ltda.</p>

<style>
    /* CSS para fundo verde claro e ícones menores */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #232F3E; /* Cor de fundo Grafite */
    }

    #wrapper {
        /* Conteúdo adicional pode ser adicionado aqui */
    }

    p {
        color: white;
    }

    h1 {
        color: white;
    }
</style>

<html>
<body class="is-preload">
    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
